{% extends "base/base.html" %}

{% block content %}


<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio'  %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'servicios'  %}">Servicios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Configuración de Servicio</li>
    </ol>
</nav>

<main>
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your cart</span>
                <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">−$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </form>
        </div>

        <!--Config servicio-->
        <input type="hidden" id="servicioId" value="{{ servicio.id }}"> <!--Almacena el id del servicio-->

        <div class="col-md-7 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ servicio.nombre | upper }}</strong></h5>
                    <p class="card-text"><em>{{ servicio.descripcion }}</em></p>
                    <p class="card-text">Tareas:</p>
                    <ul>
                        {% for tarea in servicio.tareas.all %}
                        <li>{{ tarea.nombre }}</li>
                        {% endfor %}
                    </ul>

                    <p class="card-text">Recursos Humanos:</p>
                    <ul>
                        {% for recurso in servicio.recursos.all %}
                        <li>{{ recurso.puesto }}</li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <!-- Campo de entrada para seleccionar cantidad de servicios -->
                    <div class="mb-3">
                        <label for="cantidadServicios" class="form-label">Cantidad de Servicios requeridos:</label>
                        <div class="col-auto">
                            <input type="number" class="form-control w-auto" id="cantidadServicios"
                                   name="cantidadServicios" min="1" max="100">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="costoTotal">Costo Total:</label>
                        <strong><span id="costoTotal"></span></strong>
                    </div>

                    <div class="text-end">
                        <a href="#" class="btn btn-info">AGREGAR SERVICIO</a>
                    </div>
                </div>
            </div><!--End card-->
        </div>
    </div>
</main>

<script>
    // Función para actualizar el costo total usando AJAX
    function actualizarCostoTotal() {
        var cantidad = document.getElementById("cantidadServicios").value;
        var url = "{% url 'calcular_costo_total' %}?cantidad=" + cantidad;

        fetch(url)
        .then(response => response.json())
        .then(data => {
            document.getElementById("costoTotal").textContent = data.costo_total;
        });
    }

    // Capturar el evento de cambio en el campo de entrada
    document.getElementById("cantidadServicios").addEventListener("input", actualizarCostoTotal);

    // Calcular el costo total inicialmente al cargar la página
    actualizarCostoTotal();

    function actualizarCostoTotal() {
        var cantidad = document.getElementById("cantidadServicios").value;
        var servicioId = document.getElementById("servicioId").value;  // Obtener el ID del servicio
        var url = "{% url 'calcular_costo_total' %}?cantidad=" + cantidad + "&servicio_id=" + servicioId;
    
        fetch(url)
        .then(response => response.json())
        .then(data => {
            document.getElementById("costoTotal").textContent = data.costo_total;
        });
    }
</script>

{% endblock  %}
